.company-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.company-view {
    height: 100%;
    width: 100%;
}

.company-view h1 {
    height: 10%;
    text-decoration: underline;
    width: 100%;
}
