.company-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 90%;
    
    overflow: hidden;
   
}

.company-view {
    height: 100%;
    width: 100%;
}

.company-view-header h1 {
    max-width: 60%;
}


.company-view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100px;
}

.company-view a {
    min-width: fit-content;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}


/* .company-view-header button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #1ECD97;
    border: 0;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    margin-right: 20px;
    box-shadow: 0px 2px 5px #666;
} */

.company-view-header input {
    font-size: 2em;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 0;
    padding-right: 0;
}

.ui.dropdown {
    min-width: 200px;
}

.editable-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 60%;
}

.editable-field div.button-group {
    padding: 0;
    margin-top: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    list-style: none;
    background: #ffffff;
    align-content: center;
    border: 1px solid rgba(23,24,26,0.11);
    border-radius: 5px;
    height: fit-content;
}

.editable-field button {
    height: 30px;
    display: flex;
    align-items: center;
}