.company-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 90%;
    
    overflow: hidden;
   
}

.company-view {
    height: 100%;
    width: 100%;
}

.company-view h1 {
    height: 10%;
    width: 100%;
}


.company-view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding-left: 5%;
    padding-right: 5%;
}

.company-view a {
    min-width: fit-content;
    text-decoration: underline;
    font-size: 1.5rem;
}

.company-view-header button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #1ECD97;
    border: 0;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    margin-right: 20px;
    box-shadow: 0px 2px 5px #666;
}