.follower-view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.follower-list {
    width: 90%;
}

.follower-list thead tr th {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: start;
    border-bottom: 1px solid #e6e8eb;
}

.follower-list tbody {
    line-height: 1.5;
}

.follower-list tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}