.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 10%;
    transition: background-color .5s 1s;
}


.navbar.authed {
    background-color: #B71C1C;
}
