.nav-link {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border-right: 1px solid #D4D7D9;
}

.nav-link:hover {
    background: #EEEEEE;
}

.nav-link-text {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
}