.nav-list {
    padding: 0;
    margin-top: 8px;
    margin-right: 8px;
    display: flex;
    list-style: none;
    background: #ffffff;
    align-content: center;
    border: 1px solid rgba(23,24,26,0.11);
    border-radius: 5px;
    height: fit-content;
}

.nav-list:last-child {
    border-right: none;
    
}